@font-face {
    font-family: font1;
    src: url(../fonts/Vazirmatn-Regular.ttf);
}
@font-face {
    font-family: font2;
    src: url(../fonts/Vazirmatn-Black.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s;
}
:root {
  --primaryColor: #a82424;
  --secondaryColor: #52353d;
  --mainDark: #52353d;
  --mainWhite: #fff;
  --mainGrey: #e5e5e5;
  --slantedText: "Grand Hotel", cursive;
  --mainTransition: all 0.3s linear;
  --letterSpacing: 0.5rem;
}
body{
    font-family: font1;
    direction: rtl;
}
.container-fluid{
    width: 100%;
    height: auto;
}
.nav{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    box-shadow: 0 0 10px #000;
    background: rgb(47, 27, 14);
}
#chk1{
    display: none;
}
ion-icon {
    cursor: pointer;
    font-size: 20pt;
    color: white;
}
ion-icon:hover {
    color: #ff7800;
}
.menu-btn{
    font-size: 30pt;
    margin-top: 15px;
}
.nav .logo{
    flex: 1;
    color:#fff;
    font-family: font2;
    text-transform: uppercase;
    font-size: 28pt;
}
.nav .search-box{
    flex: 1;
    position: relative;
}
.search-box input {
    width:100%;
    height: 40px;
    border: none;
    outline: none;
    background:#f2f2f2;
    border-radius: 10px;
    font-family: font1;
    color:black;
    font-size: 16px;
    padding-left: 5px;
    padding-right: 40px;
    text-align: center;
}
.search-box button {
    cursor: pointer;
    width:40px;
    height: 40px;
    border-radius: 10px;
    border:none;
    position: absolute;
    top:0;
    right: 0;
    transform: scale(0.9);
    background: rgb(168, 68, 36);
    color: #fff;
}
.search-box button:hover{
    background: rgb(115, 45, 23);
}
.nav ul {
    flex:2;
    display: flex;
    justify-content: space-evenly;
}
.nav ul li{
    list-style: none;
}
.nav ul li a{
    text-decoration: none;
    color:#fff;
    font-size: 16pt;
    text-transform: uppercase;
    padding: 10px 15px;
    transition: all .4s;
}
.nav ul li a:hover{
    color: #ff7800;
}
.nav .menu{
    font-size: 2.5em;
    display: none;
}
.menu ion-icon:hover{
    transform: rotate(45deg);
}
@media screen and (max-width: 1000px) {
    .nav ul {
        display: none;
        position: fixed;
        top: 100px;
        right: 0;
        background: rgba(0, 0, 0, 0.5);
        height: calc(100vh - 100px);
        width: 100%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
    }
    .nav ul.show {
        display: flex;
    }
    .nav ul li {
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }
    .nav .menu {
        display: block;
        width: 50px;
        text-align: center;
    }
    #chk1:checked ~ ul {
        right: 0;
    }
    .nav ul li a {
        font-size: 20pt;
    }
    .nav .logo {
        display: none;
    }
    .search-box {
        flex: 2;
        margin-right: auto;
    }
    .search-box input {
        width: 80%;
        padding-right: 5px;
        padding-left: 5px;
    }
    .search-box button {
        width: 20%;
    }
}
.header{
    width: 100%;
    height: 1000px;
    position: relative;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../image/IMG_20231202_153022_478.jpg") center/cover no-repeat fixed;
}
h2{
    padding-top: 210px;
    font-size: 200pt;
    text-align: center;
    font-family: font2;
    color: black;
    opacity: 0.6;
}
@media screen and (max-width: 1150px){
    h2{
        padding-top: 210px;
        font-size: 100pt;
        text-align: center;
        font-family: font2;
        color: black;
        opacity: 0.6;
    }
}
@media screen and (max-width: 600px){
    h2{
        padding-top: 210px;
        font-size: 50pt;
        text-align: center;
        font-family: font2;
        color: black;
        opacity: 0.6;
    }
}
#btn{
    width: 350px;
    height: 100px;
    font-family: font1;
    font-size: 20pt;
    background-color: saddlebrown;
    border-radius: 20px;
    border: none;
    transition:all 0.5s;
}
#btn:hover{
    background-color: #4b220a;
    color: white;
    transform: scale(1.1);
}
.btn-center{
    text-align: center;
}
/* about-us */
body{
    background: url("../image/IMG_20231202_153032_402.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.row{
    width: auto;
    min-width: 360px;
    max-width: 1500px;
    margin: 0 auto;
}
h2{
    margin-top: -80px;
    font-family: font2;
    font-size: 24pt;
    text-align: center;
}
.row .col{
    position: relative;
    display: inline-block;
    background: url("../image/compngwingbadil_prev_ui.png");
    background-size: cover;
    inline-size: auto;
    min-inline-size: 200px;
    width: 350px;
    margin-right: 10px;
    margin-top: 10px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .2);
    background-color: rgba(81, 81, 81, 0.7);
    overflow: hidden;
    transition: .5s;
}
.row .col:hover{
    transform: scale(1.1);
    color: #7d7d7d;
}
.item-name{
    display: block;
    color: white;
}
.row .col figure{
    text-align: center;
    color: white;
    font-size: 20pt;
}
.col figure a{
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.3s;
}
.col figure a:hover{
    color: #ff8a32;
    transform: scale(1.072);
}
.row .col-2{
    position: relative;
    display: inline-block;
    background: url("../image/compngwingbadil_prev_ui.png");
    background-size: cover;
    inline-size: auto;
    min-inline-size: 200px;
    width: auto;
    max-width: 1445px;
    min-width: 340px;
    margin-right: 10px;
    margin-top: 10px;
    height: auto;
    min-height: 350px;
    max-height: 1500px;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .2);
    background-color: rgba(81, 81, 81, 0.7);
    overflow: hidden;
    transition: .5s;
}
.row .col-2:hover{
    transform: scale(1.1);
    color: #7d7d7d;
}
.row .col-2 figure{
    text-align: center;
    color: white;
    font-size: 20pt;
}
.col-2 figure a{
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.3s;
}
.col-2 figure a:hover{
    color: #ff8a32;
    transform: scale(1.0072);
}