@font-face {
    font-family: font1;
    src: url(../fonts/Vazirmatn-Regular.ttf);
}
@font-face {
    font-family: font2;
    src: url(../fonts/Vazirmatn-Black.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 0.5rem;
    margin-top: 50px;
    background: linear-gradient(
        to left,
        rgba(145, 53, 53, 0.59),
        white,
        rgba(145, 53, 53, 0.59)
    );
    direction: rtl;
    font-family: font1;
    direction: rtl;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s;
}
:root {
  --primaryColor: #a82424;
  --secondaryColor: #52353d;
  --mainDark: #52353d;
  --mainWhite: #fff;
  --mainGrey: #e5e5e5;
  --slantedText: "Grand Hotel", cursive;
  --mainTransition: all 0.3s linear;
  --letterSpacing: 0.5rem;
}
.container-fluid{
    width: 100%;
    height: auto;
}
.nav{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    box-shadow: 0 0 10px #000;
    background: rgb(47, 27, 14);
}
#chk1{
    display: none;
}
ion-icon {
    cursor: pointer;
    font-size: 20pt;
    color: white;
}
ion-icon:hover {
    color: #ff7800;
}
.menu-btn{
    font-size: 30pt;
    margin-top: 15px;
}
.nav .logo{
    flex: 1;
    color:#fff;
    font-family: font2;
    text-transform: uppercase;
    font-size: 28pt;
}
.nav .search-box{
    flex: 1;
    position: relative;
}
.search-box input {
    width:100%;
    height: 40px;
    border: none;
    outline: none;
    background:#f2f2f2;
    border-radius: 10px;
    font-family: font1;
    color:black;
    font-size: 16px;
    padding-left: 5px;
    padding-right: 40px;
    text-align: center;
}
.search-box button {
    cursor: pointer;
    width:40px;
    height: 40px;
    border-radius: 10px;
    border:none;
    position: absolute;
    top:0;
    right: 0;
    transform: scale(0.9);
    background: rgb(168, 68, 36);
    color: #fff;
}
.search-box button:hover{
    background: rgb(115, 45, 23);
}
.nav ul {
    flex:2;
    display: flex;
    justify-content: space-evenly;
}
.nav ul li{
    list-style: none;
}
.nav ul li a{
    text-decoration: none;
    color:#fff;
    font-size: 16pt;
    text-transform: uppercase;
    padding: 10px 15px;
    transition: all .4s;
}
.nav ul li a:hover{
    color: #ff7800;
}
.nav .menu{
    font-size: 2.5em;
    display: none;
}
.menu ion-icon:hover{
    transform: rotate(45deg);
}
@media(max-width:1000px){
    .logo h1 {
        font-size: 40px;
    }
    .search-box button{
        position: absolute;
    }
    .nav ul{
        position: fixed;
        top:100px;
        right: -100%;
        background: rgba(0,0,0,0.5);
        height: calc(100vh - 100px);
        width:50%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
    }
    .nav .menu{
        display: block;
        width:100px;
        text-align: center;
    }
    #chk1:checked ~ ul{
        right: 0;

    }
}
/* details start */
.row{
    padding: 150px;
    width: auto;
    min-width: 200px;
    max-width: 1300px;
    height: 900px;
    margin: 0 auto;
}
.row .col{
    width: 1000px;
    height: 650px;
    background: url("../image/IMG_20231202_153036_109.jpg");
    border-radius: 10px;
}
.img{
    width: 450px;
    height: 450px;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 10px;
}
.item-name{
    font-family: font2;
    font-size: 22pt;
    color: white;
    margin-right: 500px;
    margin-top: -400px;
}
.item-discription{
    font-family: font1;
    width: 50%;
    font-size: 16pt;
    color: white;
    margin-right: 500px;
}
.sale-input{
    margin-right: 10px;
    font-family: font1;
    font-size: 16pt;
}
figure .price{
    font-size: 16pt;
    padding-right: 710px;
    color: #fff1af;
}
.btn{
    margin-right: 558px;
    width: 400px;
    height: 70px;
    font-family: font1;
    font-size: 20pt;
    color: white;
    background-color: #2F1B0EFF;
    border-radius: 20px;
    border: none;
    transition:all 0.5s;
}
.btn:hover{
    background-color: #4b220a;
    color: white;
    transform: scale(1.1);
}
#carry{
    position: absolute;
    margin-top: 100px;
    margin-right: 620px;
}
.col a{
    color: white;
}
.col i{
    color: white;
}
.social-icons {
    list-style: none;
    text-align: center;
    margin: 20px 0px;
}
.social-icons li {
    display: inline-block;
}
.social-icons li i {
    background: #52353d;
    color: #fff;
    padding: 15px;
    font-size: 20px;
    border-radius: 22%;
    margin: 0px 5px;
    cursor: pointer;
    transition: all .5s;
}
.social-icons li i:hover {
    background: #fff;
    color: #000000;
}
.col ul{
    margin-top: 30px;
    margin-right: -500px;
    text-align: center;
    list-style: none;
    color: #000000;
    font-size: 14pt;
    text-transform: uppercase;
    padding: 10px 15px;
    transition: all .5s;
}
.col li p{
    color: #fff1af;
    transition: all .4s;
    text-decoration: none;
}
.col ul:hover{
    transform: scale(1.1);
}
.col figure input{
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
    width: 46%;
    height: 60px;
    float: left;
    padding: 10px 30px;
    margin: 8px 12px;
    border-radius: 25px;
}
.i{
    margin-top: -60px;
    color: #fff1af;
}
@media screen and (max-width: 1230px) {
    .row .col {
        position: relative;
        margin: 0;
        width: auto;
        max-width: 1000px;
        min-width: 200px;
        height: 800px;
        background: url("../image/IMG_20231202_153036_109.jpg");
        border-radius: 10px;
    }
    .center{
        text-align: center;
    }
    .img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        height: 200px;
        margin-top: 20px;
        border-radius: 10px;
    }
    .item-name{
        margin: 0;
        text-align: center;
        font-family: font2;
        font-size: 22pt;
        color: white;
    }
    .item-discription{
        margin: 0;
        text-align: center;
        font-family: font1;
        width: 100%;
        font-size: 16pt;
        color: white;
    }
    .sale-input{
        width: 100%;
        text-align: center;
        margin: 0;
        font-family: font1;
        font-size: 16pt;
    }
    figure .price{
        text-align: center;
        font-size: 16pt;
        padding: 0;
        color: #fff1af;
    }
    .btn-center{
        text-align: center;
    }
    .btn{
        margin: 0;
        width: 70%;
        text-align: center;
        height: 70px;
        font-family: font1;
        font-size: 20pt;
        color: white;
        background-color: #2F1B0EFF;
        border-radius: 20px;
        border: none;
        transition:all 0.5s;
        }
        .btn:hover{
            background-color: #4b220a;
            color: white;
            transform: scale(1.1);
        }
        #carry{
            position: absolute;
            margin-top: 100px;
            margin-right: 620px;
        }
        .col a{
            color: white;
        }
        .col i{
            color: white;
        }
        .social-icons {
            list-style: none;
            text-align: center;
            margin: 20px 0px;
        }
        .social-icons li {
            display: inline-block;
        }
    .social-icons li i {
        background: #52353d;
        color: #fff;
        padding: 15px;
        font-size: 20px;
        border-radius: 22%;
        margin: 0px 5px;
        cursor: pointer;
        transition: all .5s;
    }
    .social-icons li i:hover {
        background: #fff;
        color: #000000;
    }
    .col ul{
        margin: 0;
        text-align: center;
        list-style: none;
        color: #000000;
        font-size: 14pt;
        text-transform: uppercase;
        padding: 10px 15px;
        transition: all .5s;
    }
    .col li p{
        margin: 0;
        text-align: center;
        color: #fff1af;
        transition: all .4s;
        text-decoration: none;
    }
    .col ul:hover{
        transform: scale(1.1);
    }
    .col figure input{
        box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
        width: 100%;
        height: 60px;
        float: left;
        padding: 10px 30px;
        margin: 8px 12px;
        border-radius: 25px;
    }
    .i{
        text-align: center;
        color: #fff1af;
    }
}
@media screen and (max-width: 615px){
    .row{
        margin: 0;
        padding: 0;
        padding-top: 40px;
        width: auto;
        min-width: 200px;
        max-width: 1300px;
        height: 900px;
}
}
/* footer */
.footer {
    margin-top: 200px;
    background: var(--mainDark);
    text-align: center;
    height: 200px;
    padding-top: 80px;
}

.social-icon {
    color: var(--mainWhite);
    font-size: 1.3rem;
    margin-right: 1rem;
    transition: var(--mainTransition);
}
.social-icon:hover {
    color: var(--primaryColor);
}
.footer-text {
    text-transform: uppercase;
    color: var(--mainWhite);
    letter-spacing: var(--letterSpacing);
    margin-top: 1rem;
    font-size: 0.85rem;
}
.footer a {
    text-decoration: none;
}
.topic{
    text-align: center;
    font-family: 'poppins', sans-serif;
    font-size: 30px;
    color: #162938;
}
.text-primary{
    color: #da2f2f;
}