@font-face {
    font-family: font1;
    src: url(../fonts/Vazirmatn-Regular.ttf);
}
@font-face {
    font-family: font2;
    src: url(../fonts/Vazirmatn-Black.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 0.5rem;
    margin-top: 50px;
    background: linear-gradient(
        to left,
        rgba(145, 53, 53, 0.59),
        white,
        rgba(145, 53, 53, 0.59)
    );
    direction: rtl;
    font-family: font1;
    direction: rtl;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s;
}
:root {
  --primaryColor: #a82424;
  --secondaryColor: #52353d;
  --mainDark: #52353d;
  --mainWhite: #fff;
  --mainGrey: #e5e5e5;
  --slantedText: "Grand Hotel", cursive;
  --mainTransition: all 0.3s linear;
  --letterSpacing: 0.5rem;
}
.nav{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    box-shadow: 0 0 10px #000;
    background: rgb(47, 27, 14);
}
#chk1{
    display: none;
}
ion-icon {
    cursor: pointer;
    font-size: 20pt;
    color: white;
}
ion-icon:hover {
    color: #ff7800;
}
.menu-btn{
    font-size: 30pt;
    margin-top: 15px;
}
.nav .logo{
    flex: 1;
    color:#fff;
    font-family: font2;
    text-transform: uppercase;
    font-size: 28pt;
}
.nav .search-box{
    flex: 1;
    position: relative;
}
.search-box input {
    width:100%;
    height: 40px;
    border: none;
    outline: none;
    background:#f2f2f2;
    border-radius: 10px;
    font-family: font1;
    color:black;
    font-size: 16px;
    padding-left: 5px;
    padding-right: 40px;
    text-align: center;
}
.search-box button {
    cursor: pointer;
    width:40px;
    height: 40px;
    border-radius: 10px;
    border:none;
    position: absolute;
    top:0;
    right: 0;
    transform: scale(0.9);
    background: rgb(168, 68, 36);
    color: #fff;
}
.search-box button:hover{
    background: rgb(115, 45, 23);
}
.nav ul {
    flex:2;
    display: flex;
    justify-content: space-evenly;
}
.nav ul li{
    list-style: none;
}
.nav ul li a{
    text-decoration: none;
    color:#fff;
    font-size: 16pt;
    text-transform: uppercase;
    padding: 10px 15px;
    transition: all .4s;
}
.nav ul li a:hover{
    color: #ff7800;
}
.nav .menu{
    font-size: 2.5em;
    display: none;
}
.menu ion-icon:hover{
    transform: rotate(45deg);
}
@media(max-width:1000px){
    .logo h1 {
        font-size: 40px;
    }
    .search-box button{
        position: absolute;
    }
    .nav ul{
        position: fixed;
        top:100px;
        right: -100%;
        background: rgba(0,0,0,0.5);
        height: calc(100vh - 100px);
        width:50%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
    }
    .nav .menu{
        display: block;
        width:100px;
        text-align: center;
    }
    #chk1:checked ~ ul{
        right: 0;

    }
}
/* products css */
.sale {
	position: absolute;
    top: 1px;
    left: 1px;
	display: inline-block;
	background: #be2d28;
	color: white;
	height: 2.5rem;
	width: 2.5rem;
	text-align: center;
	vertical-align: middle;
	line-height: 2.5rem;
	transform: rotate(-20deg);
	animation: beat 1s ease infinite alternate;
	&:before,
	&:after {
		content:"";
		position: absolute;
		background: inherit;
		height: inherit;
		width: inherit;
		top: 0;
		left: 0;
		z-index: -1;
		transform: rotate(30deg);
	}
	&:after {
		transform: rotate(60deg);
	}
}

@keyframes beat {
	from {	transform: rotate(-20deg) scale(1); }
	to {	transform: rotate(-20deg) scale(1.1); }
}
a{
    text-decoration: none;
    color: white;
}
.row .col{
    display: inline-block;
    margin-top: 50px;
    margin-right: 15px;
    width: 300px;
    height: 650px;
    background: url("../image/compngwingbadil_prev_ui.png") rgb(82, 53, 61);
    border-radius: 10px;
    position: relative;
    transition: all 1s;
    box-shadow: 5px 5px 10px gray;
}
.row .col:hover{
    transform: scale(1.05);
}
.special{
    width: 100%;
}
.row{
    width: 1300px;
    margin: 0 auto;
}
.row .col figure{
    text-align: center;
}
.row .col .btn {
    position: relative;
    display: inline-block;
    background: linear-gradient(
        to left,
        #800606,
        #da0d0d,
        #800606
    );
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 40px;
    margin-top: 20px;
    margin-right: 90px;
    text-decoration: none;
    transition: all 0.5s;
}
.col a:hover{
    transform: scale(1.1);
}
.col img{
    transform: scale(0.9);
    border-radius: 20px;
}
.item-name{
    color: white;
    font-family: font2;
    font-size: 15pt;
}
.col .discription{
    color: white;
    margin: 5px 0px 20px 0px;
    text-align: center;
}
.special h2{
    color: white;
    text-shadow:
        2px 2px 20px #000000,2px 2px 20px #000000;
    margin-top: 150px;
    text-align: center;
    font-size: 40pt;
    font-family: font1;
}
.Normal h2{
    color: white;
    text-shadow:
        2px 2px 20px #000000,2px 2px 20px #000000;
    margin-top: 150px;
    text-align: center;
    font-size: 40pt;
    font-family: font2;
}
figure .price{
    color: white;
    padding-bottom: 20px;
    font-size: 14pt;
}
.line{
    height: 0.5rem;
    margin-top: 50px;
    background: linear-gradient(
        to left,
        var(--primaryColor),
        var(--secondaryColor),
        var(--primaryColor)
    );
}
.Normal{
    width: 100%;
}
/* product details */

/* footer */
.footer {
    background: var(--mainDark);
    text-align: center;
    height: 200px;
    padding-top: 80px;
}

.social-icon {
    color: var(--mainWhite);
    font-size: 1.3rem;
    margin-right: 1rem;
    transition: var(--mainTransition);
}
.social-icon:hover {
    color: var(--primaryColor);
}
.footer-text {
    text-transform: uppercase;
    color: var(--mainWhite);
    letter-spacing: var(--letterSpacing);
    margin-top: 1rem;
    font-size: 0.85rem;
}
.footer a {
    text-decoration: none;
}
.topic{
    text-align: center;
    font-family: 'poppins', sans-serif;
    font-size: 30px;
    color: #162938;
}
.text-primary{
    color: #da2f2f;
}