<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mr.Coffee | مستر کافی</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- Latest compiled and minified CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="nav">
            <div class="menu">
            <label for="chk1">
                <ion-icon class="menu-btn" name="grid"></ion-icon>
            </label>
        </div>
        <div class="logo"><h1>Mr.Coffee</h1></div>
        <div class="search-box">
            <form>
                <label>
                    <input type ="text" name ="search" id ="srch" placeholder="جست و جو">
                </label>
                <button type ="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <ul>
            <li><a href="/home">خانه</a></li>
            <li><a href="/products">محصولات</a></li>
            <li><a href="/about-us">درباره ما</a></li>
            <li>
                {% if user.is_authenticated %}
                <a href="/logout"><ion-icon name="log-out"></ion-icon></a>
                {% else %}
                <a href="/login-signup"><ion-icon name="log-in"></ion-icon></a>
                {% endif %}
                <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                <a href="/cart"><ion-icon name="cart"></ion-icon></a>
            </li>
        </ul>
    </nav>
    <header class="header container-fluid">
        <div class="heading">
            <h2>مستر کافه</h2>
        </div>
        <a href="/Products"><button class="btn">محصولات بیشتر</button></a>
    </header>
    <div class="content-divider"></div>
    <hr>
    <main class="main">
            <!-- Start items -->
<section class="row">
    {% for item in products %}
        {% if item.is_special %}
        <article class="col">
            <div class="circle">
                <img src="../../../{{ item.picture }}">
            </div>
            <div class="content-item">
                <p>{{ item.name }}</p>
                <p>{{ item.discription }}</p>
                <p>{{ item.price }}T</p>
                <a href="/product/{{ item.id }}">بیشتر بخوانید</a>
            </div>
        </article>
        {% endif %}
    {% endfor %}
    </section>
    <!-- end items -->
    </main>
    <footer class="footer">
        <div class="section-center">
            <div class="social-icons">
            <!-- social icon -->
            <a href="#" class="social-icon">
            <ion-icon name="navigate"></ion-icon>
            </a>
            <!-- end of social icon -->
            <!-- social icon -->
            <a href="#" class="social-icon">
            <ion-icon name="logo-twitter"></ion-icon>
            </a>
            <!-- end of social icon -->
            <!-- social icon -->
            <a href="#" class="social-icon">
                <ion-icon name="logo-instagram"></ion-icon>
            </a>
            <!-- end of social icon -->
        </div>
        <p class="footer-text">
            .&copy;2023 <span class="text-primary">MR.Coffee</span>
            all right reserved by Topop
        </p>
        </div>
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>