<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>پرداخت | مستر کافی</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/sold.css">
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong> {{ message }} </strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    <nav class="nav">
            <div class="menu">
            <label for="chk1">
                <ion-icon class="menu-btn" name="grid"></ion-icon>
            </label>
        </div>
        <div class="logo"><h1>Mr.Coffee</h1></div>
        <div class="search-box">
            <form>
                <label>
                    <input type ="text" name ="search" id ="srch" placeholder="جست و جو">
                </label>
                <button type ="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <ul>
            <li><a href="/home">خانه</a></li>
            <li><a href="/products">محصولات</a></li>
            <li><a href="/about-us">درباره ما</a></li>
            <li>
                {% if user.is_authenticated %}
                <a href="/logout"><ion-icon name="log-out"></ion-icon></a>
                {% else %}
                <a href="/login-signup"><ion-icon name="log-in"></ion-icon></a>
                {% endif %}
                <a href="https://www.instagram.com/mr.coffee.choc/" target="_blank" rel="noopener noreferrer"><ion-icon name="logo-instagram"></ion-icon></a>
                <a href="/cart"><ion-icon name="cart"></ion-icon></a>
            </li>
        </ul>
    </nav>
    <section class="row">
        <article class="col">
            <figure>
                <figcaption class="item-area">
                    <p>لورم</p>
                    <p>لورم</p>
                    <p>لورم</p>
                    <p>لورم</p>
                    <p>لورم</p>
                    <p>لورم</p>
                    <div class="w-line"></div>
                </figcaption>
                <p>مجموع :</p>
                <div class="line"></div>
                <div class="tab">
                    <button class="tablinks" onclick="openCity(event, 'present')">پرداخت درب منزل</button>
                    <button class="tablinks" onclick="openCity(event, 'online')">پرداخت آنلاین</button>
                </div>
                <div id="present" class="tabcontent">
                    <h3>پرداخت درب منزل</h3>
                    <form action="#" method="POST">
                        <input type="text" class="address" name="address" placeholder="آدرس محل تحویل : تهران-ستارخان-..." required>
                        <input type="email" class="address" name="address" placeholder="ایمیل : youremail@example.com" required>
                        <input type="number" class="address" name="address" placeholder="شماره تلفن : 91212345678" required>

                        <p><button type="submit" class="btn">سفارش</button></p>
                    </form>
                </div>
                <div id="online" class="tabcontent">
                    <h3>پرداخت آنلاین</h3>
                    <div>
                        <p><button class="btn" id="myBtn">پرداخت</button></p>
                    </div>
                    <div id="myModal" class="modal">
                        <div class="modal-content">
                            <div class="modal-header">
                                <span class="close">&times;</span>
                                <h2>پیغام!</h2>
                            </div>
                            <div class="modal-body">
                                <p>متاسفانه برای پرداخت آنلاین مشکل فنی بوجود آمده</p>
                                <p>منتظر باشید!</p>
                        </div>
                            <div class="modal-footer">
                                <h3>ساخته شده با ❤️ توسط TopUp</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </figure>
        </article>
    </section>
    <script>
        function openCity(evt, cityName) {
            var i, tabcontent, tablinks;

            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
            }
    </script>
    <script>
        var modal = document.getElementById("myModal");
        var btn = document.getElementById("myBtn");
        var span = document.getElementsByClassName("close")[0];
        btn.onclick = function() {
            modal.style.display = "block";
        }
        span.onclick = function() {
            modal.style.display = "none";
        }
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
</body>
</html>