<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animated Login & Registration Form HTML CSS | Codehal</title>
    <link rel="stylesheet" href="../static/css/loginreg.css">
</head>
<body>
    <nav class="nav">
            <div class="menu">
            <label for="chk1">
                <ion-icon class="menu-btn" name="grid"></ion-icon>
            </label>
        </div>
        <div class="logo"><h1>Mr.Coffee</h1></div>
        <div class="search-box">
            <form>
                <label>
                    <input type ="text" name ="search" id ="srch" placeholder="جست و جو">
                </label>
                <button type ="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <ul>
            <li><a href="/Home">خانه</a></li>
            <li><a href="/Products">محصولات</a></li>
            <li><a href="/AboutUs">درباره ما</a></li>
            <li>
                {% if user.is_authenticated %}
                <a href="/Logout"><ion-icon name="log-out"></ion-icon></a>
                {% else %}
                <a href="/LoginSignup"><ion-icon name="log-in"></ion-icon></a>
                {% endif %}
                <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                <a href="/Cart"><ion-icon name="cart"></ion-icon></a>
            </li>
        </ul>
    </nav>
    <div class="wrapper">
        <div class="form-wrapper login">
            <form action="">
                <h2>بازیبابی رمز ورود</h2>
                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="mail"></ion-icon>
                    </span>
                    <input type="password" placeholder="تایین رمز عبور" required>
                </div>
                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="mail"></ion-icon>
                    </span>
                    <input type="password" placeholder="تایید رمز عبور" required>
                </div>
                <button type="submit">تایید</button>
            </form>
        </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>