{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mr.Coffee | مستر کافی</title>
    <link rel="stylesheet" href="../../../static/css/details.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="nav">
            <div class="menu">
            <label for="chk1">
                <ion-icon class="menu-btn" name="grid"></ion-icon>
            </label>
        </div>
        <div class="logo"><h1>Mr.Coffee</h1></div>
        <div class="search-box">
            <form>
                <label>
                    <input type ="text" name ="search" id ="srch" placeholder="جست و جو">
                </label>
                <button type ="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <ul>
            <li><a href="/home">خانه</a></li>
            <li><a href="/products">محصولات</a></li>
            <li><a href="/about-us">درباره ما</a></li>
            <li>
                {% if user.is_authenticated %}
                <a href="/logout"><ion-icon name="log-out"></ion-icon></a>
                {% else %}
                <a href="/loginSignup"><ion-icon name="log-in"></ion-icon></a>
                {% endif %}
                <a href="https://www.instagram.com/mr.coffee.choc/" target="_blank" rel="noopener noreferrer"><ion-icon name="logo-instagram"></ion-icon></a>
                <a href="/cart"><ion-icon name="cart"></ion-icon></a>
            </li>
        </ul>
    </nav>
        <section class="row">
            {% for item in details %}
                {% if item.is_sale%}
                <article class="col">
                    <figure>
                        <img class="img" src="../../{{ item.picture }}">
                        <figcaption class="item-name">{{ item.name }}</figcaption>
                        <figcaption class="item-discription">{{ item.discription }}</figcaption>
                        <p class="price"><del>{{ item.price }}T</del></p>
                        {% if item.is_exists %}
                            {% if item.price > 0 %}
                                <p class="price">{{ item.sale_price }}T</p>
                            {% elif item.price == 0%}
                                <p class="price">رایگان</p>
                            {% endif %}
                        {% else %}
                            <p class="price">ناموجود</p>
                        {% endif %}
                        <div class="center"><input class="sale-input" type="number" placeholder=" مقدار : {{ item.category }}"></div>
                    </figure>
                    <div class="btn-center">
                        <a><button class="btn" value="{{ item.id }}" id="add-cart">افزودن به سبد خرید</button></a>
                    </div>
                    <ul>
                        <li><p href="#"><ion-icon class="i" name="send-outline"></ion-icon>ارسال رایگان توسط مستر کافی</p></li>
                        <li><p href="#"><ion-icon class="i" name="shield-checkmark-outline"></ion-icon>خریدی امن با مستر کافی</p></li>
                        <li><p href="#"><ion-icon class="i" name="happy-outline"></ion-icon>بیش از 2000 رضایت از مشتری</p></li>
                    </ul>
                </article>
                {% else %}
                    <article class="col">
                    <figure>
                        <img class="img" src="../../{{ item.picture }}">
                        <figcaption class="item-name">{{ item.name }}</figcaption>
                        <figcaption class="item-discription">{{ item.discription }}</figcaption>
                        {% if item.is_exists %}
                            {% if item.price > 0 %}
                                <p class="price">{{ item.price }}T</p>
                            {% elif item.price == 0 %}
                                <p class="price">رایگان</p>
                            {% endif %}
                            <input class="sale-input" type="number" placeholder=" مقدار : {{ item.category }}">
                            <a><button class="btn" value="{{ item.id }}" id="add-cart">افزودن به سبد خرید</button></a>
                        {% else %}
                            <p class="price">ناموجود</p>
                        {% endif %}
                    </figure>
                    <ul>
                        <li><a href="#"><ion-icon class="i" name="send-outline"></ion-icon>ارسال رایگان توسط مستر کافی</a></li>
                        <li><a href="#"><ion-icon class="i" name="shield-checkmark-outline"></ion-icon>خریدی امن با مستر کافی</a></li>
                        <li><a href="#"><ion-icon class="i" name="happy-outline"></ion-icon>بیش از 2000 رضایت از مشتری</a></li>
                    </ul>
                </article>
                {% endif %}
            {% endfor %}
        </section>
        <footer class="footer">
        <div class="section-center">
            <div class="social-icons">
            <!-- social icon -->
            <a href="#" class="social-icon">
            <ion-icon name="navigate"></ion-icon>
            </a>
            <!-- end of social icon -->
            <!-- social icon -->
            <a href="#" class="social-icon">
            <ion-icon name="logo-twitter"></ion-icon>
            </a>
            <!-- end of social icon -->
            <!-- social icon -->
            <a href="#" class="social-icon">
                <ion-icon name="logo-instagram"></ion-icon>
            </a>
            <!-- end of social icon -->
        </div>
        <p class="footer-text">
            .&copy;2023 <span class="text-primary">MR.Coffee</span>
            all right reserved by Topop
        </p>
        </div>
    </footer>
    <script>
        $(document).on('click', '#add-cart', function (e){
            e.preventDefault();
            $.ajax({
                type : 'POST',
                url :'{% url 'cart_add' %}',
                data: {
                    product_id : $('#add-cart').val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action : 'post'},
                success: function (json){
                    console.log(json)
                },
                error: function(xhr, errmsg, err){
                }
            })
        })
    </script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>